*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: aquamarine;
    text-align: center;
    margin-top: 400px;
}
.winner{
    color: green;
}
.loser{
    color: red;
}
h1{
    font-size: 3rem;
}
select{
    margin-top: 50px;
    width: 50px;
    height: 25px;
}
.igraci{
    margin-top: 50px;
}
.igraci button{
    width:100px;
    height: 40px;
    background-color: rgb(76, 64, 180);
    border-radius: 20px;
    color: #fff;
}